@namespace 'Project';

:vars {
  brandblue: #1da1f2;
  gray1: #1a1a1f;
  gray2: #3a3a3f;
  gray3: #6a6a6f;
  gray4: #aaaaaf;
  gray5: #bababf;
  gray6: #dadadf;
  gray7: #eaeaef;
  gray8: #fafaff;

  outlineshadow: 0 0 0 2px value(brandblue);
}
:import {
  -st-from: 'shared/Button.st.css';
  -st-default: Button;
}

.primaryButton {
  -st-extends: Button;
  color: white;
  background: value(brandblue);
}
