@namespace 'Button';
:import {
  -st-from: 'project.st.css';
  -st-named: outlineshadow_focus, gray7;
}

.root {
  font: inherit;
  color: inherit;
  background: none;
  border-radius: 0.2rem;
  padding: 0.4rem 0.7rem;
  border: none;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
  transition: all 125ms ease;
  display: flex;
  align-items: center;
}
.root:hover {
  cursor: pointer;
  transform: translateY(-1px);
  box-shadow: 0 7px 14px rgba(50, 50, 93, 0.1), 0 3px 6px rgba(0, 0, 0, 0.08);
}
.root:focus {
  transform: translateY(-1px);
  outline: none;
  box-shadow: 0 7px 14px rgba(50, 50, 93, 0.1), 0 3px 6px rgba(0, 0, 0, 0.08),
    value(outlineshadow_focus);
}
.root:disabled {
  box-shadow: none;
  background: value(gray7);
  cursor: default;
  transform: none;
}

.root .loader {
  margin-right: 0.7rem;
}
