@namespace 'Input';

:import {
  -st-from: 'project.st.css';
  -st-named: gray3, outlineshadow;
}

.root {
  display: grid;
  grid-template-rows: 1.5rem 2rem;
}

.label {
  font-weight: 600;
  color: value(gray3);
}

.input {
  font-size: inherit;
  border: none;
  background: none;
  border-radius: 0.2rem;
  padding: 0.1rem 0.3rem;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
  transition: all 125ms ease;
}
.input:hover {
  cursor: pointer;
  transform: translateY(-1px);
  box-shadow: 0 7px 14px rgba(50, 50, 93, 0.1), 0 3px 6px rgba(0, 0, 0, 0.08);
}
.input:focus {
  transform: translateY(-1px);
  outline: none;
  box-shadow: 0 7px 14px rgba(50, 50, 93, 0.1), 0 3px 6px rgba(0, 0, 0, 0.08),
    value(outlineshadow);
}
